
<div class= "hero-unit">
<h1>página del home </h1>

para ver una página futurista visita <%= link_to "Al Infinito y +allá", "www.alinfinitoymasalla.com" %>



<h2>página 1 de prueba <a href="http://alinfinitoymasalla.com">links </a> <br>
<!-- <p>Find me in app/views/pages/home.html.erb</p> -->

<%= link_to "registrate aquí", "#", class: "btn btn-primary btn-large" %>



</div>
</div>
